aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo a {
    display: block;
    height: 100%;
    max-width: 100%;
}

aside.logo img {
    padding: 0px 15px;
    height: 100%;
    display: block;
}

@media(max-width: 576px) {
    aside.logo img {
        margin: 0 auto;
    }
}